[submodule "lib/forge-std"]
	path = basic-tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solmate"]
	path = basic-tests/lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "fund-me/lib/foundry-devops"]
	path = fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
